<div class="container main-container">
    <h3>Interpolation</h3>
    <p>O número de cliques é: {{contadorClique}}</p>
    <br>

    <h3>Property Binding</h3>
    <button class="btn btn-info" [disabled]="contadorClique >= 10">Info</button>
    <br>
    <img title="oi" [src]="urlImagem" height="50px" width="50px" />
    <br>
    <h3>Event Binding</h3>
    <button class="btn btn-primary" (click)="adicionaClique()">Clique Aqui</button>
    <button class="btn btn-warning" (click)="zeraContador()" [disabled]="contadorClique < 10">Zera Contador</button>
    <br>
    <br>
    <h3>Two Way Binding</h3>
    <!-- Não é o Two Way -->
    <!-- <input type="text" (blur)='blurNome($event)' placeholder="Digite seu nome"/>
    <br>
    <label>Seu nome é: {{nome}}</label> -->
    <!-- <input type="text" [ngModel]='nome' (ngModelChange)='nome = $event' placeholder="Digite seu nome"/>
    <br>
    <label>Seu nome é: {{nome}}</label> -->

    <input type="text" [(ngModel)]='nome' placeholder="Digite seu nome"/>
    <br>
    <label class="{{nome}}">Seu nome é: {{nome}}</label>
</div>